<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.bean.Goods">
    <id column="god_id" jdbcType="INTEGER" property="godId" />
    <result column="god_name" jdbcType="VARCHAR" property="godName" />
    <result column="god_storeprice" jdbcType="DOUBLE" property="godStoreprice" />
    <result column="god_number" jdbcType="INTEGER" property="godNumber" />
    <result column="god_price" jdbcType="DOUBLE" property="godPrice" />
    <result column="god_picture" jdbcType="VARCHAR" property="godPicture" />
    <result column="god_description" jdbcType="VARCHAR" property="godDescription" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    god_id, god_name, god_storeprice, god_number, god_price, god_picture, god_description, 
    store_id
  </sql>
  <select id="selectByExample" parameterType="com.bean.GoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where god_id = #{godId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods
    where god_id = #{godId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bean.GoodsExample">
    delete from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bean.Goods">
    insert into goods (god_id, god_name, god_storeprice, 
      god_number, god_price, god_picture, 
      god_description, store_id)
    values (#{godId,jdbcType=INTEGER}, #{godName,jdbcType=VARCHAR}, #{godStoreprice,jdbcType=DOUBLE}, 
      #{godNumber,jdbcType=INTEGER}, #{godPrice,jdbcType=DOUBLE}, #{godPicture,jdbcType=VARCHAR}, 
      #{godDescription,jdbcType=VARCHAR}, #{storeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.Goods">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="godId != null">
        god_id,
      </if>
      <if test="godName != null">
        god_name,
      </if>
      <if test="godStoreprice != null">
        god_storeprice,
      </if>
      <if test="godNumber != null">
        god_number,
      </if>
      <if test="godPrice != null">
        god_price,
      </if>
      <if test="godPicture != null">
        god_picture,
      </if>
      <if test="godDescription != null">
        god_description,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="godId != null">
        #{godId,jdbcType=INTEGER},
      </if>
      <if test="godName != null">
        #{godName,jdbcType=VARCHAR},
      </if>
      <if test="godStoreprice != null">
        #{godStoreprice,jdbcType=DOUBLE},
      </if>
      <if test="godNumber != null">
        #{godNumber,jdbcType=INTEGER},
      </if>
      <if test="godPrice != null">
        #{godPrice,jdbcType=DOUBLE},
      </if>
      <if test="godPicture != null">
        #{godPicture,jdbcType=VARCHAR},
      </if>
      <if test="godDescription != null">
        #{godDescription,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bean.GoodsExample" resultType="java.lang.Long">
    select count(*) from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update goods
    <set>
      <if test="record.godId != null">
        god_id = #{record.godId,jdbcType=INTEGER},
      </if>
      <if test="record.godName != null">
        god_name = #{record.godName,jdbcType=VARCHAR},
      </if>
      <if test="record.godStoreprice != null">
        god_storeprice = #{record.godStoreprice,jdbcType=DOUBLE},
      </if>
      <if test="record.godNumber != null">
        god_number = #{record.godNumber,jdbcType=INTEGER},
      </if>
      <if test="record.godPrice != null">
        god_price = #{record.godPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.godPicture != null">
        god_picture = #{record.godPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.godDescription != null">
        god_description = #{record.godDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.storeId != null">
        store_id = #{record.storeId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update goods
    set god_id = #{record.godId,jdbcType=INTEGER},
      god_name = #{record.godName,jdbcType=VARCHAR},
      god_storeprice = #{record.godStoreprice,jdbcType=DOUBLE},
      god_number = #{record.godNumber,jdbcType=INTEGER},
      god_price = #{record.godPrice,jdbcType=DOUBLE},
      god_picture = #{record.godPicture,jdbcType=VARCHAR},
      god_description = #{record.godDescription,jdbcType=VARCHAR},
      store_id = #{record.storeId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.Goods">
    update goods
    <set>
      <if test="godName != null">
        god_name = #{godName,jdbcType=VARCHAR},
      </if>
      <if test="godStoreprice != null">
        god_storeprice = #{godStoreprice,jdbcType=DOUBLE},
      </if>
      <if test="godNumber != null">
        god_number = #{godNumber,jdbcType=INTEGER},
      </if>
      <if test="godPrice != null">
        god_price = #{godPrice,jdbcType=DOUBLE},
      </if>
      <if test="godPicture != null">
        god_picture = #{godPicture,jdbcType=VARCHAR},
      </if>
      <if test="godDescription != null">
        god_description = #{godDescription,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
    </set>
    where god_id = #{godId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.Goods">
    update goods
    set god_name = #{godName,jdbcType=VARCHAR},
      god_storeprice = #{godStoreprice,jdbcType=DOUBLE},
      god_number = #{godNumber,jdbcType=INTEGER},
      god_price = #{godPrice,jdbcType=DOUBLE},
      god_picture = #{godPicture,jdbcType=VARCHAR},
      god_description = #{godDescription,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=INTEGER}
    where god_id = #{godId,jdbcType=INTEGER}
  </update>
</mapper>