<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.bean.Orders">
    <id column="odr_id" jdbcType="INTEGER" property="odrId" />
    <result column="odr_name" jdbcType="VARCHAR" property="odrName" />
    <result column="odr_phone" jdbcType="VARCHAR" property="odrPhone" />
    <result column="odr_paystate" jdbcType="VARCHAR" property="odrPaystate" />
    <result column="odr_data" jdbcType="DATE" property="odrData" />
    <result column="odr_userstate" jdbcType="VARCHAR" property="odrUserstate" />
    <result column="odr_price" jdbcType="DOUBLE" property="odrPrice" />
    <result column="odr_number" jdbcType="VARCHAR" property="odrNumber" />
    <result column="paytime" jdbcType="DATE" property="paytime" />
    <result column="god_count" jdbcType="VARCHAR" property="godCount" />
    <result column="god_id" jdbcType="INTEGER" property="godId" />
    <result column="mbr_id" jdbcType="INTEGER" property="mbrId" />
    <result column="is_evaluation" jdbcType="VARCHAR" property="isEvaluation" />
    <result column="odr_picture" jdbcType="VARCHAR" property="odrPicture" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    odr_id, odr_name, odr_phone, odr_paystate, odr_data, odr_userstate, odr_price, odr_number, 
    paytime, god_count, god_id, mbr_id, is_evaluation, odr_picture
  </sql>
  <select id="selectByExample" parameterType="com.bean.OrdersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orders
    where odr_id = #{odrId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orders
    where odr_id = #{odrId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bean.OrdersExample">
    delete from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bean.Orders">
    insert into orders (odr_id, odr_name, odr_phone, 
      odr_paystate, odr_data, odr_userstate, 
      odr_price, odr_number, paytime, 
      god_count, god_id, mbr_id, 
      is_evaluation, odr_picture)
    values (#{odrId,jdbcType=INTEGER}, #{odrName,jdbcType=VARCHAR}, #{odrPhone,jdbcType=VARCHAR}, 
      #{odrPaystate,jdbcType=VARCHAR}, #{odrData,jdbcType=DATE}, #{odrUserstate,jdbcType=VARCHAR}, 
      #{odrPrice,jdbcType=DOUBLE}, #{odrNumber,jdbcType=VARCHAR}, #{paytime,jdbcType=DATE}, 
      #{godCount,jdbcType=VARCHAR}, #{godId,jdbcType=INTEGER}, #{mbrId,jdbcType=INTEGER}, 
      #{isEvaluation,jdbcType=VARCHAR}, #{odrPicture,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.Orders">
    <selectKey keyProperty="odrId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="odrId != null">
        odr_id,
      </if>
      <if test="odrName != null">
        odr_name,
      </if>
      <if test="odrPhone != null">
        odr_phone,
      </if>
      <if test="odrPaystate != null">
        odr_paystate,
      </if>
      <if test="odrData != null">
        odr_data,
      </if>
      <if test="odrUserstate != null">
        odr_userstate,
      </if>
      <if test="odrPrice != null">
        odr_price,
      </if>
      <if test="odrNumber != null">
        odr_number,
      </if>
      <if test="paytime != null">
        paytime,
      </if>
      <if test="godCount != null">
        god_count,
      </if>
      <if test="godId != null">
        god_id,
      </if>
      <if test="mbrId != null">
        mbr_id,
      </if>
      <if test="isEvaluation != null">
        is_evaluation,
      </if>
      <if test="odrPicture != null">
        odr_picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="odrId != null">
        #{odrId,jdbcType=INTEGER},
      </if>
      <if test="odrName != null">
        #{odrName,jdbcType=VARCHAR},
      </if>
      <if test="odrPhone != null">
        #{odrPhone,jdbcType=VARCHAR},
      </if>
      <if test="odrPaystate != null">
        #{odrPaystate,jdbcType=VARCHAR},
      </if>
      <if test="odrData != null">
        #{odrData,jdbcType=DATE},
      </if>
      <if test="odrUserstate != null">
        #{odrUserstate,jdbcType=VARCHAR},
      </if>
      <if test="odrPrice != null">
        #{odrPrice,jdbcType=DOUBLE},
      </if>
      <if test="odrNumber != null">
        #{odrNumber,jdbcType=VARCHAR},
      </if>
      <if test="paytime != null">
        #{paytime,jdbcType=DATE},
      </if>
      <if test="godCount != null">
        #{godCount,jdbcType=VARCHAR},
      </if>
      <if test="godId != null">
        #{godId,jdbcType=INTEGER},
      </if>
      <if test="mbrId != null">
        #{mbrId,jdbcType=INTEGER},
      </if>
      <if test="isEvaluation != null">
        #{isEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="odrPicture != null">
        #{odrPicture,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bean.OrdersExample" resultType="java.lang.Long">
    select count(*) from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orders
    <set>
      <if test="record.odrId != null">
        odr_id = #{record.odrId,jdbcType=INTEGER},
      </if>
      <if test="record.odrName != null">
        odr_name = #{record.odrName,jdbcType=VARCHAR},
      </if>
      <if test="record.odrPhone != null">
        odr_phone = #{record.odrPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.odrPaystate != null">
        odr_paystate = #{record.odrPaystate,jdbcType=VARCHAR},
      </if>
      <if test="record.odrData != null">
        odr_data = #{record.odrData,jdbcType=DATE},
      </if>
      <if test="record.odrUserstate != null">
        odr_userstate = #{record.odrUserstate,jdbcType=VARCHAR},
      </if>
      <if test="record.odrPrice != null">
        odr_price = #{record.odrPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.odrNumber != null">
        odr_number = #{record.odrNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.paytime != null">
        paytime = #{record.paytime,jdbcType=DATE},
      </if>
      <if test="record.godCount != null">
        god_count = #{record.godCount,jdbcType=VARCHAR},
      </if>
      <if test="record.godId != null">
        god_id = #{record.godId,jdbcType=INTEGER},
      </if>
      <if test="record.mbrId != null">
        mbr_id = #{record.mbrId,jdbcType=INTEGER},
      </if>
      <if test="record.isEvaluation != null">
        is_evaluation = #{record.isEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="record.odrPicture != null">
        odr_picture = #{record.odrPicture,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orders
    set odr_id = #{record.odrId,jdbcType=INTEGER},
      odr_name = #{record.odrName,jdbcType=VARCHAR},
      odr_phone = #{record.odrPhone,jdbcType=VARCHAR},
      odr_paystate = #{record.odrPaystate,jdbcType=VARCHAR},
      odr_data = #{record.odrData,jdbcType=DATE},
      odr_userstate = #{record.odrUserstate,jdbcType=VARCHAR},
      odr_price = #{record.odrPrice,jdbcType=DOUBLE},
      odr_number = #{record.odrNumber,jdbcType=VARCHAR},
      paytime = #{record.paytime,jdbcType=DATE},
      god_count = #{record.godCount,jdbcType=VARCHAR},
      god_id = #{record.godId,jdbcType=INTEGER},
      mbr_id = #{record.mbrId,jdbcType=INTEGER},
      is_evaluation = #{record.isEvaluation,jdbcType=VARCHAR},
      odr_picture = #{record.odrPicture,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.Orders">
    update orders
    <set>
      <if test="odrName != null">
        odr_name = #{odrName,jdbcType=VARCHAR},
      </if>
      <if test="odrPhone != null">
        odr_phone = #{odrPhone,jdbcType=VARCHAR},
      </if>
      <if test="odrPaystate != null">
        odr_paystate = #{odrPaystate,jdbcType=VARCHAR},
      </if>
      <if test="odrData != null">
        odr_data = #{odrData,jdbcType=DATE},
      </if>
      <if test="odrUserstate != null">
        odr_userstate = #{odrUserstate,jdbcType=VARCHAR},
      </if>
      <if test="odrPrice != null">
        odr_price = #{odrPrice,jdbcType=DOUBLE},
      </if>
      <if test="odrNumber != null">
        odr_number = #{odrNumber,jdbcType=VARCHAR},
      </if>
      <if test="paytime != null">
        paytime = #{paytime,jdbcType=DATE},
      </if>
      <if test="godCount != null">
        god_count = #{godCount,jdbcType=VARCHAR},
      </if>
      <if test="godId != null">
        god_id = #{godId,jdbcType=INTEGER},
      </if>
      <if test="mbrId != null">
        mbr_id = #{mbrId,jdbcType=INTEGER},
      </if>
      <if test="isEvaluation != null">
        is_evaluation = #{isEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="odrPicture != null">
        odr_picture = #{odrPicture,jdbcType=VARCHAR},
      </if>
    </set>
    where odr_id = #{odrId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.Orders">
    update orders
    set odr_name = #{odrName,jdbcType=VARCHAR},
      odr_phone = #{odrPhone,jdbcType=VARCHAR},
      odr_paystate = #{odrPaystate,jdbcType=VARCHAR},
      odr_data = #{odrData,jdbcType=DATE},
      odr_userstate = #{odrUserstate,jdbcType=VARCHAR},
      odr_price = #{odrPrice,jdbcType=DOUBLE},
      odr_number = #{odrNumber,jdbcType=VARCHAR},
      paytime = #{paytime,jdbcType=DATE},
      god_count = #{godCount,jdbcType=VARCHAR},
      god_id = #{godId,jdbcType=INTEGER},
      mbr_id = #{mbrId,jdbcType=INTEGER},
      is_evaluation = #{isEvaluation,jdbcType=VARCHAR},
      odr_picture = #{odrPicture,jdbcType=VARCHAR}
    where odr_id = #{odrId,jdbcType=INTEGER}
  </update>
</mapper>